USE [master]
GO
/****** Object:  Database [T20I_Data]    Script Date: 8/25/2025 9:30:48 PM ******/
CREATE DATABASE [T20I_Data]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'T20I Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\T20I Data.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'T20I Data_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\T20I Data_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [T20I_Data].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [T20I_Data]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[Team_ID] [tinyint] NOT NULL,
	[Team_Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Team_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venue]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venue](
	[Venue_ID] [int] IDENTITY(1,1) NOT NULL,
	[Stadium] [nvarchar](150) NULL,
	[City] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Venue_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Match]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Match](
	[Match_ID] [int] NOT NULL,
	[T20I_Match_No] [int] NULL,
	[Date] [date] NULL,
	[Format] [nvarchar](50) NULL,
	[Venue_ID] [int] NULL,
	[Toss_Winner_ID] [tinyint] NULL,
	[Toss_Choice] [nvarchar](50) NULL,
	[MOM_Player_ID] [int] NULL,
	[Match_Winner_ID] [tinyint] NULL,
	[Match_Winner_Text] [nvarchar](1000) NULL,
	[Series_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Match_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[T20I_Match_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team_Match_Link]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team_Match_Link](
	[Match_ID] [int] NOT NULL,
	[Team_ID] [tinyint] NOT NULL,
	[Captain] [nvarchar](100) NULL,
	[Runs_Scored] [int] NULL,
	[Wickets_Fell] [int] NULL,
	[Extras] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Match_ID] ASC,
	[Team_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Top8TeamsMatches]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Top8TeamsMatches] AS
SELECT m.Match_ID,
       t1.Team_Name AS Team1,
       t2.Team_Name AS Team2,
	   t3.Team_Name AS Winner ,v.Stadium,v.Country
FROM Match m
JOIN Team_Match_Link l1 ON m.Match_ID = l1.Match_ID
JOIN Team_Match_Link l2 ON m.Match_ID = l2.Match_ID 
    AND l1.Team_ID < l2.Team_ID   -- ensures no duplicates
JOIN Team t1 ON l1.Team_ID = t1.Team_ID
JOIN Team t2 ON l2.Team_ID = t2.Team_ID
Join Team t3 on m.Match_Winner_ID = t3.Team_ID
JOIN Venue v ON m.Venue_ID = v.Venue_ID
WHERE l1.Team_ID IN (3,
27,
41,
66,
71,
87,
90,
102)
  AND l2.Team_ID IN (3,
27,
41,
66,
71,
87,
90,
102);
GO
/****** Object:  Table [dbo].[Batting]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batting](
	[Match_ID] [int] NOT NULL,
	[Player_ID] [int] NOT NULL,
	[Team_ID] [tinyint] NULL,
	[Innings_ID] [tinyint] NULL,
	[Runs] [int] NULL,
	[Fours] [tinyint] NULL,
	[Sixes] [tinyint] NULL,
	[Strike_Rate] [float] NULL,
	[Is_Out] [bit] NULL,
	[Fielder_ID] [int] NULL,
	[Bowler_ID] [int] NULL,
	[Dismissal_ID] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Match_ID] ASC,
	[Player_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bowling]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bowling](
	[Match_ID] [int] NOT NULL,
	[Player_ID] [int] NOT NULL,
	[Team_ID] [tinyint] NULL,
	[Opposition_ID] [tinyint] NULL,
	[Innings_ID] [tinyint] NULL,
	[Overs] [float] NULL,
	[Balls] [tinyint] NULL,
	[Maidens] [tinyint] NULL,
	[Runs_Conceded] [tinyint] NULL,
	[Wickets] [tinyint] NULL,
	[Economy] [float] NULL,
	[Fours] [tinyint] NULL,
	[Sixes] [tinyint] NULL,
	[Wides] [tinyint] NULL,
	[No_Balls] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Match_ID] ASC,
	[Player_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dismissal]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dismissal](
	[Dismissal_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Dismissal_Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Dismissal_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fall_Of_Wickets]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fall_Of_Wickets](
	[Match_ID] [int] NOT NULL,
	[Player_ID] [int] NOT NULL,
	[Innings_ID] [tinyint] NOT NULL,
	[Team_ID] [tinyint] NOT NULL,
	[Overs] [float] NULL,
	[Runs] [int] NULL,
	[Wickets] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Match_ID] ASC,
	[Player_ID] ASC,
	[Innings_ID] ASC,
	[Team_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Innings]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Innings](
	[Innings_ID] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Innings_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Official]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Official](
	[Official_ID] [int] IDENTITY(1,1) NOT NULL,
	[Official_Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Official_ID] PRIMARY KEY CLUSTERED 
(
	[Official_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Official_Match_Link]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Official_Match_Link](
	[Match_ID] [int] NOT NULL,
	[Official_ID] [int] NOT NULL,
	[Role_By_Match] [nvarchar](50) NULL,
 CONSTRAINT [PK_Official_Match_Link] PRIMARY KEY CLUSTERED 
(
	[Match_ID] ASC,
	[Official_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partnership]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partnership](
	[Match_ID] [int] NOT NULL,
	[Team_ID] [tinyint] NULL,
	[Opposition_ID] [tinyint] NULL,
	[Innings_ID] [tinyint] NULL,
	[For_Wicket] [tinyint] NOT NULL,
	[Partnership_Balls] [tinyint] NULL,
	[Partnership_Runs] [int] NULL,
	[Partnership_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Partnership] PRIMARY KEY CLUSTERED 
(
	[Partnership_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[Player_ID] [int] NOT NULL,
	[Player_Name] [nvarchar](50) NOT NULL,
	[Batting_Style] [nvarchar](50) NULL,
	[Bowling_Style] [nvarchar](50) NULL,
	[Team_ID] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Player_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player_Match_Link]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player_Match_Link](
	[Match_ID] [int] NOT NULL,
	[Player_ID] [int] NOT NULL,
	[ISDEBUT] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Match_ID] ASC,
	[Player_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player_Partnership_Link]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player_Partnership_Link](
	[Partnership_ID] [int] NOT NULL,
	[Player_ID] [int] NOT NULL,
	[Runs] [tinyint] NULL,
	[Balls] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Partnership_ID] ASC,
	[Player_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Series]    Script Date: 8/25/2025 9:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Series](
	[Series_ID] [int] NOT NULL,
	[Series_Name] [nvarchar](200) NULL,
 CONSTRAINT [PK__Series__3705FEAA0C79856A] PRIMARY KEY CLUSTERED 
(
	[Series_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Batting]  WITH CHECK ADD  CONSTRAINT [FK_Batting_Match_ID] FOREIGN KEY([Match_ID])
REFERENCES [dbo].[Match] ([Match_ID])
GO
ALTER TABLE [dbo].[Batting] CHECK CONSTRAINT [FK_Batting_Match_ID]
GO
ALTER TABLE [dbo].[Batting]  WITH CHECK ADD  CONSTRAINT [FK_Batting_Player_ID] FOREIGN KEY([Player_ID])
REFERENCES [dbo].[Player] ([Player_ID])
GO
ALTER TABLE [dbo].[Batting] CHECK CONSTRAINT [FK_Batting_Player_ID]
GO
ALTER TABLE [dbo].[Batting]  WITH CHECK ADD  CONSTRAINT [FK_Bowler_Bowled_ID] FOREIGN KEY([Bowler_ID])
REFERENCES [dbo].[Player] ([Player_ID])
GO
ALTER TABLE [dbo].[Batting] CHECK CONSTRAINT [FK_Bowler_Bowled_ID]
GO
ALTER TABLE [dbo].[Batting]  WITH CHECK ADD  CONSTRAINT [FK_Dismissal_ID] FOREIGN KEY([Dismissal_ID])
REFERENCES [dbo].[Dismissal] ([Dismissal_ID])
GO
ALTER TABLE [dbo].[Batting] CHECK CONSTRAINT [FK_Dismissal_ID]
GO
ALTER TABLE [dbo].[Batting]  WITH CHECK ADD  CONSTRAINT [FK_Fielder_ID] FOREIGN KEY([Fielder_ID])
REFERENCES [dbo].[Player] ([Player_ID])
GO
ALTER TABLE [dbo].[Batting] CHECK CONSTRAINT [FK_Fielder_ID]
GO
ALTER TABLE [dbo].[Batting]  WITH CHECK ADD  CONSTRAINT [FK_Innings_ID] FOREIGN KEY([Innings_ID])
REFERENCES [dbo].[Innings] ([Innings_ID])
GO
ALTER TABLE [dbo].[Batting] CHECK CONSTRAINT [FK_Innings_ID]
GO
ALTER TABLE [dbo].[Batting]  WITH CHECK ADD  CONSTRAINT [FK_Team_Batting_ID] FOREIGN KEY([Team_ID])
REFERENCES [dbo].[Team] ([Team_ID])
GO
ALTER TABLE [dbo].[Batting] CHECK CONSTRAINT [FK_Team_Batting_ID]
GO
ALTER TABLE [dbo].[Bowling]  WITH CHECK ADD  CONSTRAINT [FK_Bowling_Match_ID] FOREIGN KEY([Match_ID])
REFERENCES [dbo].[Match] ([Match_ID])
GO
ALTER TABLE [dbo].[Bowling] CHECK CONSTRAINT [FK_Bowling_Match_ID]
GO
ALTER TABLE [dbo].[Bowling]  WITH CHECK ADD  CONSTRAINT [FK_Bowling_Player_ID] FOREIGN KEY([Player_ID])
REFERENCES [dbo].[Player] ([Player_ID])
GO
ALTER TABLE [dbo].[Bowling] CHECK CONSTRAINT [FK_Bowling_Player_ID]
GO
ALTER TABLE [dbo].[Bowling]  WITH CHECK ADD  CONSTRAINT [FK_Innings_Bowling_ID] FOREIGN KEY([Innings_ID])
REFERENCES [dbo].[Innings] ([Innings_ID])
GO
ALTER TABLE [dbo].[Bowling] CHECK CONSTRAINT [FK_Innings_Bowling_ID]
GO
ALTER TABLE [dbo].[Bowling]  WITH CHECK ADD  CONSTRAINT [FK_Opposition_Batting_ID] FOREIGN KEY([Opposition_ID])
REFERENCES [dbo].[Team] ([Team_ID])
GO
ALTER TABLE [dbo].[Bowling] CHECK CONSTRAINT [FK_Opposition_Batting_ID]
GO
ALTER TABLE [dbo].[Bowling]  WITH CHECK ADD  CONSTRAINT [FK_Team_Bowling_ID] FOREIGN KEY([Team_ID])
REFERENCES [dbo].[Team] ([Team_ID])
GO
ALTER TABLE [dbo].[Bowling] CHECK CONSTRAINT [FK_Team_Bowling_ID]
GO
ALTER TABLE [dbo].[Fall_Of_Wickets]  WITH CHECK ADD  CONSTRAINT [FK_FOW_Innings_ID] FOREIGN KEY([Innings_ID])
REFERENCES [dbo].[Innings] ([Innings_ID])
GO
ALTER TABLE [dbo].[Fall_Of_Wickets] CHECK CONSTRAINT [FK_FOW_Innings_ID]
GO
ALTER TABLE [dbo].[Fall_Of_Wickets]  WITH CHECK ADD  CONSTRAINT [FK_FOW_Match_ID] FOREIGN KEY([Match_ID])
REFERENCES [dbo].[Match] ([Match_ID])
GO
ALTER TABLE [dbo].[Fall_Of_Wickets] CHECK CONSTRAINT [FK_FOW_Match_ID]
GO
ALTER TABLE [dbo].[Fall_Of_Wickets]  WITH CHECK ADD  CONSTRAINT [FK_FOW_Player_ID] FOREIGN KEY([Player_ID])
REFERENCES [dbo].[Player] ([Player_ID])
GO
ALTER TABLE [dbo].[Fall_Of_Wickets] CHECK CONSTRAINT [FK_FOW_Player_ID]
GO
ALTER TABLE [dbo].[Fall_Of_Wickets]  WITH CHECK ADD  CONSTRAINT [FK_FOW_Team_ID] FOREIGN KEY([Team_ID])
REFERENCES [dbo].[Team] ([Team_ID])
GO
ALTER TABLE [dbo].[Fall_Of_Wickets] CHECK CONSTRAINT [FK_FOW_Team_ID]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Match_Winner_ID] FOREIGN KEY([Match_Winner_ID])
REFERENCES [dbo].[Team] ([Team_ID])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Match_Winner_ID]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_MOM_Player_ID] FOREIGN KEY([MOM_Player_ID])
REFERENCES [dbo].[Player] ([Player_ID])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_MOM_Player_ID]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Series_ID_Match] FOREIGN KEY([Series_ID])
REFERENCES [dbo].[Series] ([Series_ID])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Series_ID_Match]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Toss_Winner_ID] FOREIGN KEY([Toss_Winner_ID])
REFERENCES [dbo].[Team] ([Team_ID])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Toss_Winner_ID]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Venue_ID] FOREIGN KEY([Venue_ID])
REFERENCES [dbo].[Venue] ([Venue_ID])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Venue_ID]
GO
ALTER TABLE [dbo].[Official_Match_Link]  WITH CHECK ADD  CONSTRAINT [FK_Official_Match_Link_Match] FOREIGN KEY([Match_ID])
REFERENCES [dbo].[Match] ([Match_ID])
GO
ALTER TABLE [dbo].[Official_Match_Link] CHECK CONSTRAINT [FK_Official_Match_Link_Match]
GO
ALTER TABLE [dbo].[Official_Match_Link]  WITH CHECK ADD  CONSTRAINT [FK_Official_Match_Link_Official] FOREIGN KEY([Official_ID])
REFERENCES [dbo].[Official] ([Official_ID])
GO
ALTER TABLE [dbo].[Official_Match_Link] CHECK CONSTRAINT [FK_Official_Match_Link_Official]
GO
ALTER TABLE [dbo].[Partnership]  WITH CHECK ADD  CONSTRAINT [FK_Innings_Bo_ID] FOREIGN KEY([Innings_ID])
REFERENCES [dbo].[Innings] ([Innings_ID])
GO
ALTER TABLE [dbo].[Partnership] CHECK CONSTRAINT [FK_Innings_Bo_ID]
GO
ALTER TABLE [dbo].[Partnership]  WITH CHECK ADD  CONSTRAINT [FK_Opposition_P_ID] FOREIGN KEY([Opposition_ID])
REFERENCES [dbo].[Team] ([Team_ID])
GO
ALTER TABLE [dbo].[Partnership] CHECK CONSTRAINT [FK_Opposition_P_ID]
GO
ALTER TABLE [dbo].[Partnership]  WITH CHECK ADD  CONSTRAINT [FK_P_Match_ID] FOREIGN KEY([Match_ID])
REFERENCES [dbo].[Match] ([Match_ID])
GO
ALTER TABLE [dbo].[Partnership] CHECK CONSTRAINT [FK_P_Match_ID]
GO
ALTER TABLE [dbo].[Partnership]  WITH CHECK ADD  CONSTRAINT [FK_Team_P_ID] FOREIGN KEY([Team_ID])
REFERENCES [dbo].[Team] ([Team_ID])
GO
ALTER TABLE [dbo].[Partnership] CHECK CONSTRAINT [FK_Team_P_ID]
GO
ALTER TABLE [dbo].[Player]  WITH CHECK ADD  CONSTRAINT [FK_Player_Team] FOREIGN KEY([Team_ID])
REFERENCES [dbo].[Team] ([Team_ID])
GO
ALTER TABLE [dbo].[Player] CHECK CONSTRAINT [FK_Player_Team]
GO
ALTER TABLE [dbo].[Player_Match_Link]  WITH CHECK ADD  CONSTRAINT [FK_Match_Player_ID] FOREIGN KEY([Match_ID])
REFERENCES [dbo].[Match] ([Match_ID])
GO
ALTER TABLE [dbo].[Player_Match_Link] CHECK CONSTRAINT [FK_Match_Player_ID]
GO
ALTER TABLE [dbo].[Player_Match_Link]  WITH CHECK ADD  CONSTRAINT [FK_Player_ID] FOREIGN KEY([Player_ID])
REFERENCES [dbo].[Player] ([Player_ID])
GO
ALTER TABLE [dbo].[Player_Match_Link] CHECK CONSTRAINT [FK_Player_ID]
GO
ALTER TABLE [dbo].[Player_Partnership_Link]  WITH CHECK ADD  CONSTRAINT [FK_Partnership_Player_ID] FOREIGN KEY([Partnership_ID])
REFERENCES [dbo].[Partnership] ([Partnership_ID])
GO
ALTER TABLE [dbo].[Player_Partnership_Link] CHECK CONSTRAINT [FK_Partnership_Player_ID]
GO
ALTER TABLE [dbo].[Player_Partnership_Link]  WITH CHECK ADD  CONSTRAINT [FK_Player_P_ID] FOREIGN KEY([Player_ID])
REFERENCES [dbo].[Player] ([Player_ID])
GO
ALTER TABLE [dbo].[Player_Partnership_Link] CHECK CONSTRAINT [FK_Player_P_ID]
GO
ALTER TABLE [dbo].[Team_Match_Link]  WITH CHECK ADD  CONSTRAINT [FK_Match_Team_ID] FOREIGN KEY([Match_ID])
REFERENCES [dbo].[Match] ([Match_ID])
GO
ALTER TABLE [dbo].[Team_Match_Link] CHECK CONSTRAINT [FK_Match_Team_ID]
GO
ALTER TABLE [dbo].[Team_Match_Link]  WITH CHECK ADD  CONSTRAINT [FK_Team_ID] FOREIGN KEY([Team_ID])
REFERENCES [dbo].[Team] ([Team_ID])
GO
ALTER TABLE [dbo].[Team_Match_Link] CHECK CONSTRAINT [FK_Team_ID]
GO
USE [master]
GO
